{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, я автор</h1>
    <p>
      Все свободное время провожу за обучением.
      Готов на любые онлайн стажировки, готов работать по 8 часов в день.

      Владею на начальном уровне следующими навыками:
      <ul>
        <li> Вёрстка по макетам Figma</li>
        <li> Верстка макетов по БЭМ</li>
        <li> Верстка страниц, с адаптацией под мобильные устройства - CSS/SCSS</li>
        <li> Работа с системами контроля версий (Git) </li>
        <li> Знаком с JS, на уровне подключения скриптов + основы </li>
        <li> Знаком с Python (основы). Django/Маршруты, контроллеры/шаблоны/ /Django Forms/ CRUD/ Авторизация и регистрация/Написание Unittests/ </li>
        <li> Знаком с SQL на уровне написания типовых простых запросов, с целью получения выборки данных из БД </li>
        <li> Верстка макетов по БЭМ</li>
      </ul>

      В наличии 3 небольших проекта.

      <br> Постоянно занимаюсь самообучением с целью улучшить свои навыки.
      Умею читать техническую документацию на английском языке. Изучаю английский язык.
    </p>
  </div>
{% endblock %}

