{% load thumbnail static %}

<article>
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date |date:"d E Y" }}
    </li>
  </ul>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>
    {{ post.text }}
  </p>
  <div class="content" style="display: flex; flex-flow: row; justify-content: space-between">
    {% if post.group %}
      <button type="button" class="btn btn-outline-primary djdt-width-20">
        <a href="{% url 'posts:group_list' post.group.slug %}"
           style="color: black; text-decoration: none">
          Все записи группы
        </a>
      </button>
    {% endif %}
    <button type="button" class="btn btn-outline-primary djdt-width-20">
      <a href="{% url 'posts:post_detail' post.id %}"
         style="color: black; text-decoration: none">
        подробная информация
      </a>
    </button>

  </div>
</article>
{% if not forloop.last %} <hr> {% endif %}



